<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Geist-Black.otf</string>
		<string>Geist-Bold.otf</string>
		<string>Geist-ExtraBold.otf</string>
		<string>Geist-ExtraLight.otf</string>
		<string>Geist-Light.otf</string>
		<string>Geist-Medium.otf</string>
		<string>Geist-Regular.otf</string>
		<string>Geist-SemiBold.otf</string>
		<string>Geist-Thin.otf</string>
	</array>
</dict>
</plist>
